/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2020 Enrique Catalá Bañuls */


/*
 * *** DO NOT EDIT MANUALLY! ***
 * Document autogenerated on 03/03/2020 11:43:34 by the following template D:\git\SSDTt4Helper\T4_CODE_GENERATION\Auditing demo\AuditingTriggers.tt 
 *
 *  Written by Enrique Catala:    https://www.linkedin.com/in/enriquecatala/
 ** Microsoft Data Platform MVP:  https://mvp.microsoft.com/es-es/PublicProfile/5000312?fullName=Enrique%20Catala
 ** Blog:                         http://www.enriquecatala.com
 ** Twitter:                      https://twitter.com/enriquecatala
 */
/***************************************************************
This file includes the TRIGGER objects for the tables:
- HumanResources.Employee
- HumanResources.EmployeePayHistory
****************************************************************/

-- Auditing trigger for insert operations on [HumanResources].[Employee]
CREATE TRIGGER [HumanResources].[Employee_AuditingTrigger_insert] 
    ON [HumanResources].[Employee]
AFTER INSERT 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[Employee]
    (		
		[BusinessEntityID]
		,[NationalIDNumber]
		,[LoginID]
		,[OrganizationNode]
		,[OrganizationLevel]
		,[JobTitle]
		,[BirthDate]
		,[MaritalStatus]
		,[Gender]
		,[HireDate]
		,[SalariedFlag]
		,[VacationHours]
		,[SickLeaveHours]
		,[CurrentFlag]
		,[rowguid]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser]		 
    )
    SELECT
		I.[BusinessEntityID]
		,I.[NationalIDNumber]
		,I.[LoginID]
		,I.[OrganizationNode]
		,I.[OrganizationLevel]
		,I.[JobTitle]
		,I.[BirthDate]
		,I.[MaritalStatus]
		,I.[Gender]
		,I.[HireDate]
		,I.[SalariedFlag]
		,I.[VacationHours]
		,I.[SickLeaveHours]
		,I.[CurrentFlag]
		,I.[rowguid]
		,I.[ModifiedDate]
        ,'new',
		'I',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 
    FROM INSERTED I;	
END;
GO

-- Auditing trigger for UPDATE operations on [HumanResources].[Employee]
CREATE TRIGGER [HumanResources].[Employee_AuditingTrigger_update] 
    ON [HumanResources].[Employee]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[Employee]
    (		
		[BusinessEntityID]
		,[NationalIDNumber]
		,[LoginID]
		,[OrganizationNode]
		,[OrganizationLevel]
		,[JobTitle]
		,[BirthDate]
		,[MaritalStatus]
		,[Gender]
		,[HireDate]
		,[SalariedFlag]
		,[VacationHours]
		,[SickLeaveHours]
		,[CurrentFlag]
		,[rowguid]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		I.[BusinessEntityID]
		,I.[NationalIDNumber]
		,I.[LoginID]
		,I.[OrganizationNode]
		,I.[OrganizationLevel]
		,I.[JobTitle]
		,I.[BirthDate]
		,I.[MaritalStatus]
		,I.[Gender]
		,I.[HireDate]
		,I.[SalariedFlag]
		,I.[VacationHours]
		,I.[SickLeaveHours]
		,I.[CurrentFlag]
		,I.[rowguid]
		,I.[ModifiedDate]
        ,'new',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,	
		-- Updated columns
		 CASE WHEN UPDATE([BusinessEntityID]) THEN '[BusinessEntityID]-' ELSE '' END 
		+ CASE WHEN UPDATE([NationalIDNumber]) THEN '[NationalIDNumber]-' ELSE '' END 
		+ CASE WHEN UPDATE([LoginID]) THEN '[LoginID]-' ELSE '' END 
		+ CASE WHEN UPDATE([OrganizationNode]) THEN '[OrganizationNode]-' ELSE '' END 
		+ CASE WHEN UPDATE([OrganizationLevel]) THEN '[OrganizationLevel]-' ELSE '' END 
		+ CASE WHEN UPDATE([JobTitle]) THEN '[JobTitle]-' ELSE '' END 
		+ CASE WHEN UPDATE([BirthDate]) THEN '[BirthDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([MaritalStatus]) THEN '[MaritalStatus]-' ELSE '' END 
		+ CASE WHEN UPDATE([Gender]) THEN '[Gender]-' ELSE '' END 
		+ CASE WHEN UPDATE([HireDate]) THEN '[HireDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([SalariedFlag]) THEN '[SalariedFlag]-' ELSE '' END 
		+ CASE WHEN UPDATE([VacationHours]) THEN '[VacationHours]-' ELSE '' END 
		+ CASE WHEN UPDATE([SickLeaveHours]) THEN '[SickLeaveHours]-' ELSE '' END 
		+ CASE WHEN UPDATE([CurrentFlag]) THEN '[CurrentFlag]-' ELSE '' END 
		+ CASE WHEN UPDATE([rowguid]) THEN '[rowguid]-' ELSE '' END 
		+ CASE WHEN UPDATE([ModifiedDate]) THEN '[ModifiedDate]-' ELSE '' END 
    FROM INSERTED I;
	
	 INSERT INTO [Auditing].[Employee]
    (		
		[BusinessEntityID]
		,[NationalIDNumber]
		,[LoginID]
		,[OrganizationNode]
		,[OrganizationLevel]
		,[JobTitle]
		,[BirthDate]
		,[MaritalStatus]
		,[Gender]
		,[HireDate]
		,[SalariedFlag]
		,[VacationHours]
		,[SickLeaveHours]
		,[CurrentFlag]
		,[rowguid]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		D.[BusinessEntityID]
		,D.[NationalIDNumber]
		,D.[LoginID]
		,D.[OrganizationNode]
		,D.[OrganizationLevel]
		,D.[JobTitle]
		,D.[BirthDate]
		,D.[MaritalStatus]
		,D.[Gender]
		,D.[HireDate]
		,D.[SalariedFlag]
		,D.[VacationHours]
		,D.[SickLeaveHours]
		,D.[CurrentFlag]
		,D.[rowguid]
		,D.[ModifiedDate]
        ,'old',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,
		-- Updated columns
		 CASE WHEN UPDATE([BusinessEntityID]) THEN '[BusinessEntityID]-' ELSE '' END 
		+ CASE WHEN UPDATE([NationalIDNumber]) THEN '[NationalIDNumber]-' ELSE '' END 
		+ CASE WHEN UPDATE([LoginID]) THEN '[LoginID]-' ELSE '' END 
		+ CASE WHEN UPDATE([OrganizationNode]) THEN '[OrganizationNode]-' ELSE '' END 
		+ CASE WHEN UPDATE([OrganizationLevel]) THEN '[OrganizationLevel]-' ELSE '' END 
		+ CASE WHEN UPDATE([JobTitle]) THEN '[JobTitle]-' ELSE '' END 
		+ CASE WHEN UPDATE([BirthDate]) THEN '[BirthDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([MaritalStatus]) THEN '[MaritalStatus]-' ELSE '' END 
		+ CASE WHEN UPDATE([Gender]) THEN '[Gender]-' ELSE '' END 
		+ CASE WHEN UPDATE([HireDate]) THEN '[HireDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([SalariedFlag]) THEN '[SalariedFlag]-' ELSE '' END 
		+ CASE WHEN UPDATE([VacationHours]) THEN '[VacationHours]-' ELSE '' END 
		+ CASE WHEN UPDATE([SickLeaveHours]) THEN '[SickLeaveHours]-' ELSE '' END 
		+ CASE WHEN UPDATE([CurrentFlag]) THEN '[CurrentFlag]-' ELSE '' END 
		+ CASE WHEN UPDATE([rowguid]) THEN '[rowguid]-' ELSE '' END 
		+ CASE WHEN UPDATE([ModifiedDate]) THEN '[ModifiedDate]-' ELSE '' END 
    FROM DELETED D;

END;
GO


-- Auditing trigger for DELETE operations on [HumanResources].[Employee]
CREATE TRIGGER [HumanResources].[Employee_AuditingTrigger_delete] 
    ON [HumanResources].[Employee]
AFTER DELETE 
AS
BEGIN
    SET NOCOUNT ON;	
	 
	INSERT INTO [Auditing].[Employee]
    (		
		[BusinessEntityID]
		,[NationalIDNumber]
		,[LoginID]
		,[OrganizationNode]
		,[OrganizationLevel]
		,[JobTitle]
		,[BirthDate]
		,[MaritalStatus]
		,[Gender]
		,[HireDate]
		,[SalariedFlag]
		,[VacationHours]
		,[SickLeaveHours]
		,[CurrentFlag]
		,[rowguid]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] 
    )
    SELECT
		D.[BusinessEntityID]
		,D.[NationalIDNumber]
		,D.[LoginID]
		,D.[OrganizationNode]
		,D.[OrganizationLevel]
		,D.[JobTitle]
		,D.[BirthDate]
		,D.[MaritalStatus]
		,D.[Gender]
		,D.[HireDate]
		,D.[SalariedFlag]
		,D.[VacationHours]
		,D.[SickLeaveHours]
		,D.[CurrentFlag]
		,D.[rowguid]
		,D.[ModifiedDate]
        ,'old',
		'D',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 		
    FROM DELETED D;
END;
GO

-- Auditing trigger for insert operations on [HumanResources].[EmployeePayHistory]
CREATE TRIGGER [HumanResources].[EmployeePayHistory_AuditingTrigger_insert] 
    ON [HumanResources].[EmployeePayHistory]
AFTER INSERT 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[EmployeePayHistory]
    (		
		[BusinessEntityID]
		,[RateChangeDate]
		,[Rate]
		,[PayFrequency]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser]		 
    )
    SELECT
		I.[BusinessEntityID]
		,I.[RateChangeDate]
		,I.[Rate]
		,I.[PayFrequency]
		,I.[ModifiedDate]
        ,'new',
		'I',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 
    FROM INSERTED I;	
END;
GO

-- Auditing trigger for UPDATE operations on [HumanResources].[EmployeePayHistory]
CREATE TRIGGER [HumanResources].[EmployeePayHistory_AuditingTrigger_update] 
    ON [HumanResources].[EmployeePayHistory]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[EmployeePayHistory]
    (		
		[BusinessEntityID]
		,[RateChangeDate]
		,[Rate]
		,[PayFrequency]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		I.[BusinessEntityID]
		,I.[RateChangeDate]
		,I.[Rate]
		,I.[PayFrequency]
		,I.[ModifiedDate]
        ,'new',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,	
		-- Updated columns
		 CASE WHEN UPDATE([BusinessEntityID]) THEN '[BusinessEntityID]-' ELSE '' END 
		+ CASE WHEN UPDATE([RateChangeDate]) THEN '[RateChangeDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([Rate]) THEN '[Rate]-' ELSE '' END 
		+ CASE WHEN UPDATE([PayFrequency]) THEN '[PayFrequency]-' ELSE '' END 
		+ CASE WHEN UPDATE([ModifiedDate]) THEN '[ModifiedDate]-' ELSE '' END 
    FROM INSERTED I;
	
	 INSERT INTO [Auditing].[EmployeePayHistory]
    (		
		[BusinessEntityID]
		,[RateChangeDate]
		,[Rate]
		,[PayFrequency]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		D.[BusinessEntityID]
		,D.[RateChangeDate]
		,D.[Rate]
		,D.[PayFrequency]
		,D.[ModifiedDate]
        ,'old',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,
		-- Updated columns
		 CASE WHEN UPDATE([BusinessEntityID]) THEN '[BusinessEntityID]-' ELSE '' END 
		+ CASE WHEN UPDATE([RateChangeDate]) THEN '[RateChangeDate]-' ELSE '' END 
		+ CASE WHEN UPDATE([Rate]) THEN '[Rate]-' ELSE '' END 
		+ CASE WHEN UPDATE([PayFrequency]) THEN '[PayFrequency]-' ELSE '' END 
		+ CASE WHEN UPDATE([ModifiedDate]) THEN '[ModifiedDate]-' ELSE '' END 
    FROM DELETED D;

END;
GO


-- Auditing trigger for DELETE operations on [HumanResources].[EmployeePayHistory]
CREATE TRIGGER [HumanResources].[EmployeePayHistory_AuditingTrigger_delete] 
    ON [HumanResources].[EmployeePayHistory]
AFTER DELETE 
AS
BEGIN
    SET NOCOUNT ON;	
	 
	INSERT INTO [Auditing].[EmployeePayHistory]
    (		
		[BusinessEntityID]
		,[RateChangeDate]
		,[Rate]
		,[PayFrequency]
		,[ModifiedDate]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] 
    )
    SELECT
		D.[BusinessEntityID]
		,D.[RateChangeDate]
		,D.[Rate]
		,D.[PayFrequency]
		,D.[ModifiedDate]
        ,'old',
		'D',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 		
    FROM DELETED D;
END;
GO
-- End of auto generated code!