/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2020 Enrique Catalá Bañuls */


/*
 * *** DO NOT EDIT MANUALLY! ***
 * Document autogenerated on 03/03/2020 11:43:45 by the following template D:\git\SSDTt4Helper\T4_CODE_GENERATION\Auditing demo\AuditingTables.tt 
 *
 *  Written by Enrique Catala:    https://www.linkedin.com/in/enriquecatala/
 ** Microsoft Data Platform MVP:  https://mvp.microsoft.com/es-es/PublicProfile/5000312?fullName=Enrique%20Catala
 ** Blog:                         http://www.enriquecatala.com
 ** Twitter:                      https://twitter.com/enriquecatala
 */
/***************************************************************
This file includes the auditing objects for the tables:
- HumanResources.Employee
- HumanResources.EmployeePayHistory
****************************************************************/

-- Auditing table for [HumanResources].[Employee]
CREATE TABLE [Auditing].[Employee]
(    
	[id] [bigint] IDENTITY(1,1) NOT NULL primary key,
	[BusinessEntityID] INT NOT NULL,
	[NationalIDNumber] NVARCHAR(15) NOT NULL,
	[LoginID] NVARCHAR(256) NOT NULL,
	[OrganizationNode]  is a UserDefinedType and must be FIXED MANUALLY!! ,
	--[OrganizationLevel]  is a computed column,
	[JobTitle] NVARCHAR(50) NOT NULL,
	[BirthDate] DATE NOT NULL,
	[MaritalStatus] NCHAR(1) NOT NULL,
	[Gender] NCHAR(1) NOT NULL,
	[HireDate] DATE NOT NULL,
	--[SalariedFlag]  is a computed column,
	[VacationHours] SMALLINT NOT NULL,
	[SickLeaveHours] SMALLINT NOT NULL,
	--[CurrentFlag]  is a computed column,
	[rowguid] UNIQUEIDENTIFIER NOT NULL,
	[ModifiedDate] DATETIME NOT NULL,
    -- put your standard attributes here
    [AuditDataState] [char](3) NOT NULL,
	[AuditDMLAction] [char](1) NOT NULL,
	[AuditUser] [sysname] NOT NULL,
	[AuditDateTime] [datetime] not NULL default getdate(),
	[UpdateColumns] [varchar](max) NULL

);
GO


-- Auditing table for [HumanResources].[EmployeePayHistory]
CREATE TABLE [Auditing].[EmployeePayHistory]
(    
	[id] [bigint] IDENTITY(1,1) NOT NULL primary key,
	[BusinessEntityID] INT NOT NULL,
	[RateChangeDate] DATETIME NOT NULL,
	[Rate] MONEY NOT NULL,
	[PayFrequency] TINYINT NOT NULL,
	[ModifiedDate] DATETIME NOT NULL,
    -- put your standard attributes here
    [AuditDataState] [char](3) NOT NULL,
	[AuditDMLAction] [char](1) NOT NULL,
	[AuditUser] [sysname] NOT NULL,
	[AuditDateTime] [datetime] not NULL default getdate(),
	[UpdateColumns] [varchar](max) NULL

);
GO

-- End of auto generated code!